.comments-view h1 {
  font-size: 15px;
  font-weight: bold;
}
.comments-view h2 {
  font-size: 10px;
  font-weight: bold;
}

.comments-view {
  margin-top: 20px;
}

p {
  font-size: 15px;
}

.comment-container {
  background-color: white;
}

.submit-button {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}